extends layout

block content
  h1 Welcome to the Supercharger API
  p.lead This is just a test and only does one fairly pointless thing at the moment
  hr
  p Please add the following to the URL '/api/superchargers/geo' - this will return a JSON object :)
